
.form-group {
  p {
    font-weight: bolder;
  }
  span {
    color: #dc3545 !important;
  }

  .firstname {
    width: 35%;
    @media (max-width: 991.98px) {
      width: 100%;
    }
  }

  .lastname {
    width: calc(65% - 5px);
    @media (max-width: 991.98px) {
      width: 100%;
    }
  }
}

.changePrev {
  cursor: pointer;

  &:hover {
    color: royalblue;
  }
}

.chooseInfo {
  font-weight: bolder;
}


